<div class="container">
  <div class="box col-md-3 login">
    <h2>Login
    </h2>
    <br/>

    <form action="#">
      <div class="form-group">
        <label>Username</label>
        <input type="text" name="userame" class="form-control"/>
        <label>Password</label>
        <input type="password" name="password" class="form-control"/>
      </div>
      <br/>
      <button class="btn btn-primary pull-right">Login</button>
    </form>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-4">
      <img src="/assets/logo.png" alt=#" style="width: 150px; height: 50px; margin-left: -40px; margin-top: 15px"/>
    </div>
    <div class="col-md-4 center-block">
      <p> All rights reserved <br/> Copyright &copy; infinity@yahoo.com  2015</p>
    </div>
    <div class="col-md-4">
      <img src="/assets/head.png" alt="" style="width: 150px; height: 50px; margin-left: 220px; margin-top: 15px"/>
    </div>
  </div>
</div>