<!--<div class="modal fade" id="myModal" tabindex="1" role="dialog">-->
  <!--<div class="modal-dialog" style="width: 350px">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button class="close" data-dismiss="modal">&times</button>-->
        <!--Register-->
      <!--</div>-->


<div class="container">
  <div class="box col-md-4 register">
    <h2>Register
    </h2>
    <br/>
    <form action="#">
      <div class="form-group">
        <label for="fullname">Fullname:</label>
        <input type="text" name="fullname" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="Username" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="email">E-mail Address:</label>
        <input type="email" name="username" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="username" class="form-control"/>
      </div>
      <hr/>
      <button class="btn btn-primary btn-sm pull-right">Submit</button>


      <br/>
    </form>
  </div>
</div>
<br/>
<br/>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-4">
      <img src="/assets/logo.png" alt=#" style="width: 150px; height: 50px; margin-left: -40px; margin-top: 15px"/>
    </div>
    <div class="col-md-4 center-block">
      <p> All rights reserved <br/> Copyright &copy; infinity@yahoo.com  2015</p>
    </div>
    <div class="col-md-4">
      <img src="/assets/head.png" alt="" style="width: 150px; height: 50px; margin-left: 220px; margin-top: 15px"/>
    </div>
  </div>
</div>

    <!--</div>-->
  <!--</div>-->
<!--</div>-->
