<!--<div class="container">-->
<!--<div class="nav navbar-left contentmenu">-->
<!--<ul>-->
<!--<li  class="links"><a href="index.html">Latest Activity</a></li>-->
<!--<li  class="links"><a href="About.html">Profile</a></li>-->
<!--<li  class="links"><a href="Videos.html">Videos</a></li>-->
<!--<li  class="links"><a href="Images.html">Images</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<div class="container col-md-2">
  <div class="row contentmenu">
    <div class="col-md-10">
      <div class="tab-pane">

        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to 'Buffet Type', catering_menu_url %></li>
            <li><%= link_to 'Packed Meal', catering_packedmeal_url %></li>
            <li class="active"><a href="#" role="tab">Cocktail Type</a></li>
          </ul>
        </div>
        <!--<div class="menu_inclusions_col" id="#vtabs-content-c">-->
          <div class="menu_tab_panel">
            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div id="cocktail_type_title_div">COCKTAIL TYPE SERVICE</div>
                <div id="cocktail_type_title_short_desc">
                  Business meetings, company launching, event opening, VIP gatherings, and other functions may avail of our well-personalized customer cocktail party service.
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div id="cocktail_type_prices_div">
                  <div class="packed_meal_price_col">
                    <div class="menu_inclusions_title_div">
                      <span>Cocktail Php 190.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div id="main-course">
                  <div id="main_courses_row1">
                    <div id="col1">
                      <fieldset>
                        <div class="buffet_title">Menu A</div>
                        <div>
                          <ul>
                            <li>Chicken Roll with Ham & Butter</li>
                            <li>Shrimp Roll</li>
                            <li>Siomai</li>
                            <li>Lasagna</li>
                            <li>Bread</li>
                            <li>Peanuts</li>
                            <li>Fresh Fruits</li>
                            <li>Soft drinks or Juice</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                    <div id="col2">
                      <fieldset>
                        <div class="buffet_title">Menu B</div>
                        <div>
                          <ul>
                            <li>Pork Barbecue</li>
                            <li>Buttered Chicken</li>
                            <li>Cabbage Roll</li>
                            <li>Bam-I</li>
                            <li>Bread</li>
                            <li>Assorted Canafe</li>
                            <li>Dessert</li>
                            <li>Soft drinks or Juice</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div class="panel_hz_divider"></div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div id="cocktail_type_prices_div">
                  <div class="packed_meal_price_col">
                    <div class="menu_inclusions_title_div">
                      <span>Cocktail Php 170.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div id="main-course">
                  <div id="main_courses_row1">
                    <div id="col1">
                      <fieldset>
                        <div class="buffet_title">Menu A</div>
                        <div>
                          <ul>
                            <li>Pork Embutido</li>
                            <li>Spaghetti</li>
                            <li>Empanada</li>
                            <li>Bread</li>
                            <li>Dessert</li>
                            <li>Soft drinks or Juice</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                    <div id="col2">
                      <fieldset>
                        <div class="buffet_title">Menu B</div>
                        <div>
                          <ul>
                            <li>Chicken Lollipop</li>
                            <li>Sotanghon Guisado</li>
                            <li>Fresh Lumpia</li>
                            <li>Bread</li>
                            <li>Fresh Fruits</li>
                            <li>Soft drinks or Juice</li>
                          </ul>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div class="panel_hz_divider"></div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div class="menu_inclusions_col">
                  <div class="menu_inclusions_title_div">
                    <span>Amenities</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_col">
                <div class="menu_inclusions_col">
                  <div class="inclusions_menu_div">
                    <fieldset>
                      <div id="col1">
                        <ul>
                          <li>One Free Buffet Tent</li>
                          <li>Uniformed Waiters</li>
                        </ul>
                      </div>
                      <div id="col2">
                        <ul>
                          <li>Simple Table Centerpieces</li>
                          <li>Cocktail Tables</li>
                        </ul>
                      </div>
                      <div id="col3">
                        <ul>
                          <li>Buffet Set-Up with Centerpieces</li>
                        </ul>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>


            <div class="menu_inclusions_row">
              <div class="menu_inclusions_cell">
                <div class="panel_hz_divider"></div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_cell">
                <div class="menu_inclusions_col">
                  <div class="menu_inclusions_title_div">
                    <span>Optional Charges</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="menu_inclusions_row">
              <div class="menu_inclusions_cell">
                <div class="menu_inclusions_col">
                  <div class="inclusions_menu_div">
                    <fieldset>
                      <div id="col1">
                        <ul>
                          <li>Additional Tents</li>
                          <li>Ceiling Decors</li>
                          <li>Floral Arrangements</li>
                          <li>Red Carpet</li>
                        </ul>
                      </div>
                      <div id="col2">
                        <ul>
                          <li>Food Orders</li>
                          <li>Packed Meals</li>
                          <li>Kid's Tables and Chairs</li>
                        </ul>
                      </div>
                      <div id="col3">
                        <ul>
                          <li>Wine Glasses</li>
                          <li>Party Novelties</li>
                          <li>Cocktail Tables</li>
                        </ul>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>

          </div>
        <!--</div>-->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4">
        <img src="/assets/logo.png" alt=#" style="width: 150px; height: 50px; margin-left: -40px; margin-top: 15px"/>
      </div>
      <div class="col-md-4 center-block">
        <p> All rights reserved <br/> Copyright &copy; infinity@yahoo.com  2015</p>
      </div>
      <div class="col-md-4">
        <img src="/assets/head.png" alt="" style="width: 150px; height: 50px; margin-left: 220px; margin-top: 15px"/>
      </div>
    </div>
  </div>
</div>